body {
  background-color: slategrey;
}

.ani {
  animation: ani_kf 1s 1 ease-out forwards;
}

#cooltext {
  margin-left: 30vw;
  margin-top: 20vw;
}

@keyframes ani_kf {
  0% {
    opacity: 0%;
    transform: translateY(20vw);
  }
  90% {
    transform: translateY(-3vw);
  }
  100% {
    opacity: 100%;
    transform: translateY(0vw);
  }
}

span {
  display: inline-block;
}
